In [1]:
# ANALYSIS FOR BRAZIL

In [2]:
# Install and import the appropriate libraries and dependencies.
!pip install prophet
import pandas as pd
import numpy as np
import datetime as dt
from prophet import Prophet

%matplotlib inline

Requirement already satisfied: prophet in c:\users\17049\anaconda3\lib\site-packages (1.1.5)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\17049\anaconda3\lib\site-packages (from prophet) (1.2.2)
Requirement already satisfied: numpy>=1.15.4 in c:\users\17049\anaconda3\lib\site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\17049\anaconda3\lib\site-packages (from prophet) (3.8.4)
Requirement already satisfied: pandas>=1.0.4 in c:\users\17049\anaconda3\lib\site-packages (from prophet) (2.1.4)
Requirement already satisfied: holidays>=0.25 in c:\users\17049\anaconda3\lib\site-packages (from prophet) (0.48)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\17049\anaconda3\lib\site-packages (from prophet) (4.65.0)
Requirement already satisfied: importlib-resources in c:\users\17049\anaconda3\lib\site-packages (from prophet) (6.4.0)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\17049\anaconda3\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.0)
Requirement already satisfied: python-dateutil in c:\users\17049\anaconda3\lib\site-packages (from holidays>=0.25->prophet) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\17049\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\17049\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\17049\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\17049\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\17049\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\17049\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\17049\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\17049\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\17049\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: colorama in c:\users\17049\anaconda3\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\17049\anaconda3\lib\site-packages (from python-dateutil->holidays>=0.25->prophet) (1.16.0)

In [3]:
# Read CSV file athlete_event into a dataframe.
athlete_events = pd.read_csv("resources/athlete_events.csv")

In [4]:
# Print the first 5 rows of the dataframe.
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
# Create a new dataframe filtered by the columns team, games, year, season, sport, event, medal and city.
#df = df.drop(df.columns[[0, 1, 3]], axis=1) 
olympics1 = athlete_events.drop(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'NOC'], axis=1)

In [6]:
# Rename the column called Team to a column called Country.
olympics1 = olympics1.rename(columns={'Team':'Country'})

In [7]:
# Rename the column called City to a column called Host. 
olympics1 = olympics1.rename(columns={'City':'Host'})

In [8]:
# Create a new dataframe that removes all rows that have an NaN in the medal column.
#my_dict = {tuple(my_series): 'value'}
#olympics2 = {tuple(olympics1): 'value'}
#olympics2 = olympics1.loc(olympics1['Medal'])
olympics2 = olympics1

In [9]:
# Create empty columns for gold, silver, bronze and total medals
#df = df.assign(C=[])
#df = df.reindex(columns=df.columns.tolist() + ['C'])
olympics2 = olympics2.reindex(columns=olympics2.columns.tolist() + ['Gold'] + ['Silver'] + ['Bronze'])

In [10]:
# Sum the number of gold, silver, and bronze medals by country and place in their respective columns.
olympics2['Gold'] = olympics2.groupby('Country')['Country'].transform('count')
olympics2['Silver'] = olympics2.groupby('Country')['Country'].transform('count')
olympics2['Bronze'] = olympics2.groupby('Country')['Country'].transform('count')

,Country,Games,Year,Season,Host,Sport,Event,Medal,Gold,Silver,Bronze
0,China,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,4975,4975,4975
1,China,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,4975,4975,4975
2,Denmark,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,3424,3424,3424
3,Denmark/Sweden,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,6,6,6
4,Netherlands,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,5718,5718,5718

In [11]:
# Sum the medal columns (gold, silver, bronze) into the total medals column.
def Total_Medals(row):
    return row['Gold'] + row['Silver'] + row['Bronze']

In [13]:
# Add the column to the DataFrame
olympics2['Total_Medals'] = olympics2.apply(Total_Medals, axis = 1)

In [15]:
#Rename the column to Total Medals
olympics2 = olympics2.rename(columns={'Total_Medals':'Total Medals'})

,Country,Games,Year,Season,Host,Sport,Event,Medal,Gold,Silver,Bronze,Total Medals
0,China,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,4975,4975,4975,14925
1,China,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,4975,4975,4975,14925
2,Denmark,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,3424,3424,3424,10272
3,Denmark/Sweden,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,6,6,6,18
4,Netherlands,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,5718,5718,5718,17154

In [ ]:
# Print the dataframe to show the host city first followed by countries with the most total medals.