In [174]:
#create reference for CSV file
import pandas as pd

In [175]:
#read CSV file into a dataframe
olympics_path = "resources/athlete_events.csv"

olympics_df = pd.read_csv(olympics_path, low_memory = False)

#print the first 5 rows
olympics_df.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [176]:
#create new dataframe filtered by columns team, games, year, season, sport, event, medal, city
olympics_df = olympics_df[["Team", "Games", "Year", "Season", "Sport", "Event", "Medal", "City"]]

olympics_df.head()

,Team,Games,Year,Season,Sport,Event,Medal,City
0,China,1992 Summer,1992,Summer,Basketball,Basketball Men's Basketball,NaN,Barcelona
1,China,2012 Summer,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN,London
2,Denmark,1920 Summer,1920,Summer,Football,Football Men's Football,NaN,Antwerpen
3,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Paris
4,Netherlands,1988 Winter,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Calgary

In [177]:
#rename column team to country
olympics_df = olympics_df.rename(columns = {"Team": "Country"})

olympics_df.head()

,Country,Games,Year,Season,Sport,Event,Medal,City
0,China,1992 Summer,1992,Summer,Basketball,Basketball Men's Basketball,NaN,Barcelona
1,China,2012 Summer,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN,London
2,Denmark,1920 Summer,1920,Summer,Football,Football Men's Football,NaN,Antwerpen
3,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Paris
4,Netherlands,1988 Winter,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Calgary

In [178]:
#rename city to host 
olympics_df = olympics_df.rename(columns = {"City": "Host"})

olympics_df.head()

,Country,Games,Year,Season,Sport,Event,Medal,Host
0,China,1992 Summer,1992,Summer,Basketball,Basketball Men's Basketball,NaN,Barcelona
1,China,2012 Summer,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN,London
2,Denmark,1920 Summer,1920,Summer,Football,Football Men's Football,NaN,Antwerpen
3,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Paris
4,Netherlands,1988 Winter,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Calgary

In [179]:
#create a new dataframe thatn removes all rows that have an Na in the medal column
olympic_medals_df = olympics_df.dropna(subset = ["Medal"]) 

olympic_medals_df.head()

,Country,Games,Year,Season,Sport,Event,Medal,Host
3,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Paris
37,Finland,1920 Summer,1920,Summer,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Antwerpen
38,Finland,1920 Summer,1920,Summer,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Antwerpen
40,Finland,2014 Winter,2014,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Sochi
41,Finland,1948 Summer,1948,Summer,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,London

In [180]:
#create new columns for "Gold" medals, "Silver" medals, "Bronze" medals, and "Total Medals"
olympic_medals_df.loc[:, ('Gold')] = 0
olympic_medals_df.loc[:, ('Silver')] = 0
olympic_medals_df.loc[:, ('Bronze')] = 0
olympic_medals_df.loc[:, ('Total Medals')] = 0

olympic_medals_df.head()

/var/folders/m6/qbpjxbts54s21jwmn73ttxyr0000gp/T/ipykernel_59003/881153644.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  olympic_medals_df.loc[:, ('Gold')] = 0
/var/folders/m6/qbpjxbts54s21jwmn73ttxyr0000gp/T/ipykernel_59003/881153644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  olympic_medals_df.loc[:, ('Silver')] = 0
/var/folders/m6/qbpjxbts54s21jwmn73ttxyr0000gp/T/ipykernel_59003/881153644.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  olympic_medals_df.loc[:, ('Bronze')] = 0
/var/folders/m6/qbpjxbts54s21jwmn73ttxyr0000gp/T/ipykernel_59003/881153644.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  olympic_medals_df.loc[:, ('Total Medals')] = 0

,Country,Games,Year,Season,Sport,Event,Medal,Host,Gold,Silver,Bronze,Total Medals
3,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Paris,0,0,0,0
37,Finland,1920 Summer,1920,Summer,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Antwerpen,0,0,0,0
38,Finland,1920 Summer,1920,Summer,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Antwerpen,0,0,0,0
40,Finland,2014 Winter,2014,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Sochi,0,0,0,0
41,Finland,1948 Summer,1948,Summer,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,London,0,0,0,0

In [181]:
##Create a new dataframe that removes all years from the Games column that are not equal to 2012 Summer
olympic_2012_df = olympic_medals_df[olympic_medals_df["Games"] == "2012 Summer"]

olympic_2012_df.head()

,Country,Games,Year,Season,Sport,Event,Medal,Host,Gold,Silver,Bronze,Total Medals
174,France,2012 Summer,2012,Summer,Handball,Handball Men's Handball,Gold,London,0,0,0,0
684,Canada,2012 Summer,2012,Summer,Diving,Diving Women's Synchronized Springboard,Bronze,London,0,0,0,0
789,Russia,2012 Summer,2012,Summer,Gymnastics,Gymnastics Men's Floor Exercise,Bronze,London,0,0,0,0
790,Russia,2012 Summer,2012,Summer,Gymnastics,Gymnastics Men's Horse Vault,Silver,London,0,0,0,0
861,Egypt,2012 Summer,2012,Summer,Fencing,"Fencing Men's Foil, Individual",Silver,London,0,0,0,0

In [193]:
# Covert the "Medal" column string values into integers for the Gold, Silver, and Bronze columns


# Convert Gold, Silver, and Bronze columns to integer format
df_pivoted[['Gold', 'Silver', 'Bronze']] = df_pivoted[['Gold', 'Silver', 'Bronze']].astype(int)

KeyError: 'Medal'

In [184]:
#Create a new dataframe that removes the Event and Sport Columns
olympic_2012_medals_df = df_pivoted.drop(columns = ["Event", "Sport"])    
olympic_2012_medals_df.head()

#Combine the rows by Country and sum medals by gold, silver, bronze total
#sum_by_country = olympic_2012_medals_df.groupby('Country')[['Gold', 'Silver', 'Bronze']].sum().reset_index()


#sum the number of gold, silver, and bronze medals by country and place in their respective columns

Medal      Country  Gold  Silver  Bronze
0      Afghanistan     0       0       1
1          Algeria     1       0       0
2        Argentina     1      15       3
3          Armenia     0       1       2
4        Australia    18      37      59

In [ ]:
#print dataframe to show host city first followed by countries with the most total medals 


# Sort the DataFrame by 'Host' (UK first) and then by total medals in descending order